body{
  margin: 0;
  padding: 0;
}
.clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
}
.clock{
    font-size: 5rem;
    color: #61dafb;
    font-family: 'Courier New', Courier, monospace;
}