*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
   
}

body{
    color: #5f5f5f;
}

.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 55px;
    align-items: center;
}
.icon{
  color: #669bbc;
  font-size: 30px;
}
.logo{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
.icon_logo{
    color: #669bbc;
    font-size: 35px;
    
}
.logo .header_text{
    font-size: 25px;
    font-weight: 600;
   
}
.input_container{
    position: relative;
    display: flex;
    background-color: #dee5e7;
    height: 40px;
    color: white;
    gap: 20px;
    align-items: center;
    padding: 10px 20px;
    border-radius: 30px;
}
.input_container input{
    background-color: transparent;
    border: none;
    outline: none;
    color: #5C4033;
    width: 350px;
    font-size: 1.3rem;
    transition: width 0.4s ease-in-out;
}
.input_container input::placeholder{
    color: #a0a5a7;
}
.input_container input:focus{
    width: 400px;
}
.input_container .icon{
    border-radius: 50%;
    padding: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.input_container .icon:hover{
    cursor: pointer;
    background-color: #c4ccce;
}
.fav{
    margin-right: 40px;
    display: flex;
    gap: 40px;
}
.fav .icon{
    font-size: 35px;
    color: #669bbc;
    border-radius: 50%;
    padding: 5px;
    transition:  0.3s ease-in-out;
}
.fav .icon:hover{
    cursor: pointer;
   background-color: #c4ccce;
}