nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 20px;
    align-items: center;
}
nav p{
    color: white;
}
nav button{
    padding: 10px 20px;
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
}